version: "3.8"
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  rabbitmq-setup:
    image: rabbitmq:3-management
    container_name: rabbitmq-setup
    depends_on:
      - rabbitmq
    entrypoint: >
      bash -lc "
      rabbitmqadmin -H rabbitmq -u guest -p guest declare exchange name=todos.events type=topic durable=true &&
      rabbitmqadmin -H rabbitmq -u guest -p guest declare queue name=todos.notification durable=true &&
      rabbitmqadmin -H rabbitmq -u guest -p guest declare binding source=todos.events destination_type=queue destination=todos.notification routing_key=todo.created
      "
